@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

* {
    background-color: beige;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

button {
    padding: 10px 20px; /* Adjust padding to control the size */
    background-color: #007BFF; /* A pleasant blue */
    color: white; /* White text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Slightly rounded corners */
    font-size: 1rem; /* Standard font size */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

button:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
}

a {
    text-decoration: none;
}

h1 {
    font-weight: normal;
    font-size: 6.67vh;
}

.text-center {
    text-align: center;
}

.text-size-1 {
    font-size: 4.1203131438vh;
}

.margin-top-100 {
    margin-top: 11.1111111112vh;
}

.margin-top-300 {
    margin-top: 24.3333333336vh;
}

.button-class {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 652px;
    height: 134px;
    font-size: 4.1203131438vh;
    background-color: #2070EA;
    border-radius: 14px;
    color: white;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.slider-display {
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 100px;
}

.slider-display input {
    border: none;
    font-size: 100px;
    width: 30vh;
}

.border {
    border: 2px solid black;
}

.subtitles {
    color: gray;
    font-size: 1.5vh;
    opacity: 0;
    animation: fadeIn 2.5s ease-in 3s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.hy-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.mt-5 {
    margin-top: 5vh;
}

.results-div-1 {
    width: 50%;
}

table.table {
    border: 2px solid black;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table.table td, table.table th {
    padding: 3px 4px;
    border-right: 2px solid black; /* Add right border for separation */
}
table.table tbody td {
    font-size: 13px;
}
table.table td:nth-child(even) {
    background: #EBEBEB;
}
table.table thead {
    background: #FFFFFF;
    border-bottom: none; /* Remove internal horizontal border */
}
table.table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: none; /* Remove internal vertical borders */
}
table.table td:last-child, table.table th:last-child {
    border-right: none;
}
table.table tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    border-top: none; /* Remove internal horizontal border */
}
table.table tfoot td {
    font-size: 14px;
}
/* New rule for coloring the entire right column */
table.table td:last-child {
    background-color: #f0f0f0; /* Example color */
}

.basic-margins {
    margin-left: 4vh;
    margin-right: 4vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.table-filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    height: 100%;
    margin-top: 2vh;
}

.filter-container {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fit-screen {
    height: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
}

.show-dropdown {
    max-height: 500px; /* Adjust as necessary */
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 1px solid black;
    border-bottom: none; /* Keep this to remove bottom border overlap */
    width: 100%; /* Make button take up full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.dropdown-content button:last-child {
    border-bottom: 1px solid black; /* Add bottom border back for the last button */
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
}

.naming-sucks {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers children horizontally in the container */
    justify-content: center; /* Centers children vertically in the container */
    padding: 20px; /* Add some padding if needed */
}

.margin-top-4 {
    margin-top: 4vh;
}