<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operation Gas Prices</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="hy-center">
        <h1 class="text-center"><span id="typing"></span></h1>
        <p class="text-center subtitles mt-5"><i>I’m not but this loading animation is fire isn’t it?</i></p>
    </div>
    <script src="{{ url_for('static', filename='js/loading.js') }}"></script>
</body>
</html>

