<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operation Gas Prices</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="margin-top-100">
        <h1 class="text-center">Who Are You?</h1>
        <p class="text-center margin-top-4 text-size-1">Can I get your number? Please do not put your exact address, pick an area close to you, this site is not 100% safe.</p>
        <div class="container margin-top-4">
            <div class="float-left">
                choose their address box :O
            </div>
            <div class="float-right">
                <div>
                    click to login with google
                </div>
                <div>
                    click to sign up with google
                </div>
            </div>
        </div>
        <button class="margin-top-300 text-center button-class" onclick='window.location.href = "/gasinfo"'>
            next slide
        </button>
    </div>
</body>
</html>
